nav {
    width: 100%;
    background-color: #ccc;
}
nav .container {
    width: 1200px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-menu:last-of-type{
    margin-left: auto;
}
.nav-menu {
    display: flex;
    gap:30px;
}
.nav-logo i {
    font-size: 36px;
}
.nav-link {
    font-weight: bold;
    color: #303030;
}

header {
    width: 100%;
    aspect-ratio: 21 / 9;
    /* height: 450px; */
    max-height:600px;
    min-height:450px;
    background-color: #ccc;
}
header img {
    height: 100%;
    object-fit: cover;
}

/* soft */
#soft {
    background-color: #cecece;
    padding-block: 10px;
}
.soft-container {
    width: 800px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}
.soft-item {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.soft-item:first-of-type {
    /* background-color: #098; */
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    flex: 0 0 calc(100% / 3);
}