<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .active {
            background-color: #fa0;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <h2>{{author}}</h2>
        <div :class="style">{{qty > 0 ? '貨源充足':'補貨中'}}</div>
        <a v-bind:href="link">yahoo</a>
        <a :href="link" target="_blank">yahoo</a>
        <input type="text" v-model="value">
        {{value}}
        <a href="#" v-on:click="test()">click</a>
        
        <a href="#" @click="test()">click</a>
        <div>
            <div v-for="product,idx of products">
                {{product}} / {{idx}}
            </div>
            <div v-for="f of foods">
                {{f.name}}:{{f.price}}
            </div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    title: 'Hello Vue',
                    author: 'Zac',
                    qty: 10,
                    link: 'https://tw.yahoo.com',
                    style:'active',
                    value: 'hello123',
                    products:['iPhone 15','iPhone 15 Plus','iPhone 15 Pro','iPhone 15 Pro Max'],
                    foods:[
                            {
                                id: 1,
                                name: '滷肉飯',
                                price: '190'
                            },
                            {
                                id: 2,
                                name: '牛肉麵',
                                price: '500'
                            },
                            {
                                id:3,
                                name:'臭豆腐',
                                price: '990'
                            },
                            {
                                id:4,
                                name:'排骨飯',
                                price: '500'
                            }
                        ]
                }
            },
            methods:{
                test(){
                    alert('hello test');
                }
            }
        }).mount('#app');

        // let obj = {
        //     asdf(){
        //         return 'test123';
        //     }
        // }
        // console.log(obj.asdf());
    </script>
</body>
</html>