<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <nav class="p-5 bg-zinc-900">
            <a href="#" class="text-zinc-50">購物車</a>
        </nav>
        <div class="w-[400px] h-screen bg-zinc-300 right-0 top-0 fixed p-3">
            <div v-for="cart,idx in carts" class="py-2">
                <h3>{{cart.title}}</h3>
                <div>
                    {{cart.price}}
                </div>
                <a href="#" @click="removeItem(idx)">移除</a>
            </div>
            <a href="#" @click="clearCart()" v-if="carts.length != 0" class="px-5 py-2 bg-red-600 rounded-lg text-white inline-block">清空購物車</a>
            <div>
                小計：{{total}}
            </div>
        </div>
        <div class="container flex flex-wrap mx-auto">
            <div v-for="product,idx in products" class="lg:w-1/4 sm:w-1/2 w-full p-4">
                <div class="bg-zinc-200 border border-zinc-700 rounded-lg overflow-hidden">
                    <div class="aspect-video">
                        <!-- {{product.image}} -->
                        <img :src="product.image" alt="" class="w-full h-full object-cover">
                    </div>
                    <div class="p-3 space-y-4">
                        <h3>{{product.title}}</h3>
                        <div>{{product.price}}</div>
                        <a href="#" class="px-5 py-2 rounded-lg bg-blue-400 inline-block" @click.prevent="storeToCart(product.id)">加入購物車</a>
                        <!-- <a href="#" class="px-5 py-2 rounded-lg bg-blue-400 inline-block" @click="storeToCart(idx)">加入購物車</a> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    products: '',
                    carts:[]
                }
            },
            created(){
                const url = 'https://fakestoreapi.com/products';
                fetch(url).then(res=>res.json()).then(data => {
                    this.products = data;
                    console.log(data);
                })
            },
            methods:{
                storeToCart(pid){
                    let pd = this.products.find(data => data.id === pid)
                    // console.log(pd);
                    this.carts.push(pd);
                    // this.carts.push({
                        // id: Date.now(),
                        // pid:pid,
                        // title: pd.title,
                        // price: pd.price
                    // });
                },
                clearCart(){
                    if(confirm('確認清空購物車嗎？')){
                        this.carts.length = 0;
                    }
                },
                removeItem(idx){
                    if(confirm('確認移除商品嗎？')){
                        this.carts.splice(idx,1);
                    }
                }
            },
            computed:{
                // price(){
                //     if(this.carts.length > 0){
                //         return this.carts.map(data=>data.price);
                //     }else{
                //         return [0];
                //     }
                // },
                total(){
                    if(this.carts.length > 0){
                        return this.carts.map(data=>data.price).reduce((x,y)=>Number(x)+Number(y));
                    }else{
                        return 0;
                    }
                    // return this.price.reduce((x,y)=>Number(x)+Number(y));
                }
            }

        }).mount('#app');
    </script>
</body>
</html>