<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form action="#">
            <input type="text" v-model="input">
            <input type="button" value="add" @click="add()">
        </form>
        <div>
            <div v-for="todo in todos">{{todo.title}}</div>
        </div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            title:'做作業',
                            isCompleted:true
                        },
                        {
                            id:2,
                            title:'洗衣服',
                            isCompleted:false
                        }
                    ],
                }
            },
            methods:{
                add(){
                    alert(this.input);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>