<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form action="#">
            <input type="text" v-model="input">
            <input type="button" value="add" @click="add()">
        </form>
        <h2>已完成</h2>
        <div>
            <form action="#">
                <div v-for="todo in isComplete" :key="todo.id">
                    {{todo.title}}
                    <input type="checkbox" v-model="todo.isCompleted">
                </div>
            </form>
        </div>
        <hr>
        <div>
            <h2>未完成</h2>
            <form action="#">
                <div v-for="todo in unComplete" :key="todo.id">
                    {{todo.title}}
                    <input type="checkbox" v-model="todo.isCompleted">
                </div>
            </form>
        </div>


    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            title:'做作業',
                            isCompleted:true
                        },
                        {
                            id:2,
                            title:'洗衣服',
                            isCompleted:false
                        }
                    ],
                }
            },
            methods:{
                add(){
                    this.todos.push({
                        id:Date.now(),
                        title:this.input,
                        isCompleted:false
                    });
                    this.input = '';
                }
            },
            computed:{
                isComplete(){
                    return this.todos.filter(data => data.isCompleted === true);
                },
                unComplete(){
                    return this.todos.filter(data => data.isCompleted === false);
                }
            }
        }).mount('#app');
    </script>
</body>
</html>